@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

body {
  width: 75%;
  margin: auto;
  font-family: "Barlow Semi Condensed", sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
}

ul {
  text-align: center;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

ul.active {
  max-height: 500px; 
}

ul li {
  list-style: none;
  margin-top: 2rem;
  padding: 1rem;
  cursor: pointer;
}

.navbar .hamburguer-menu div {
  width: 3rem;
  height: 5px;
  margin: 0.3rem;
  background-color: #000000;
  cursor: pointer;
  transition: all 0.3s ease;
}

.hamburguer-menu.active div:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.hamburguer-menu.active div:nth-child(2) {
  opacity: 0;
}

.hamburguer-menu.active div:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -10px);
}
.grid-container {
  display: block;
}

.grid-item-0 {
  background-image: url(assets/images/image-web-3-desktop.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
  margin-top: 2rem;
}

.grid-item-1 {
  background-color: hsl(240, 100%, 5%);
  margin-top: 1rem;
  padding: 0.5rem 1rem 1rem 1rem;
  line-height: 1;
}

.grid-item-1 h1 {
  color: hsl(35, 77%, 62%);
}

.grid-item-1 p,
.grid-item-1 h2 {
  color: hsl(36, 100%, 99%);
}

.grid-item-2 {
  display: grid;
  align-self: center;
}

.grid-item-2 h1 {
  font-size: 2.8rem;
  line-height: 1.5;
}

.grid-item-3 {
  display: grid;
  align-items: flex-end;
  line-height: 1.5;
}

.grid-item-3 button {
  background-color: hsl(5, 85%, 63%);
  padding: 3%;
  width: 100%;
  margin-bottom: 3rem;
}

.news-container {
  margin-bottom: 2rem;
}

.grid-item-4 .news-container {
  display: flex;
}

.grid-item-4 .news-image {
  width: 7rem;
  margin-right: 1rem;
}

.grid-item-4 .news-container h2 {
  font-size: 2.5rem;
  color: hsl(35, 77%, 62%);
}

.news-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.news-text h2, .news-text h3, .news-text p {
  margin: 0;
}

@media (min-width: 1440px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    padding: 2rem 0;
  }

  .navbar .hamburguer-menu {
    display: none;
  }

  ul {
    max-height: 100%; 
  }

  ul li {
    display: inline;
    padding: 1.5rem 0 1.5rem 1.5rem;
  }

  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 400px;
    grid-template-rows: 250px 150px 10rem;
    grid-gap: 2rem;
  }

  .grid-container .grid-item .news-container {
    display: flex;
  }

  .grid-item-0 {
    grid-column: 2 span;
    margin-top: 0;
    margin-bottom: 2rem;
    height: 100%;
  }

  .grid-item-1 {
    margin-top: 0;
    grid-row: 2 span;
  }

}
